a:visited, a:link
 {
  display: inline-block;
    text-decoration: none;
    color:black;

 }
.system-alert {
  width: inherit;
  height: 50px;
  padding: 13px 0 0 20px;
  margin: 0 0 15px;
  background-color:#fedfa1;
}

.system-alert2 {
  width: inherit;
  height: 50px;
  padding: 13px 0 0 20px;
  margin: 0 0 15px;
  background-color:#f8a89c;
}
