.navbar-flock {
	background: $color-white;
	border-bottom: 1px solid $color-border;

	.navbar-toggle {
		i.icon {
			font-size: 3rem;
			line-height: 0;
		}
	}
	.navbar-brand {
		height: auto;
		padding: $space-normal;
		img {
			width: $logo-width;
			height: $logo-height;
		}
	}
	.navbar-right {
		margin-right: 0;
	}
	.navbar-nav > li {
		height: auto;
		> a {
			line-height: $logo-height;
			height: auto;
			padding-top: $space-normal;
			padding-bottom: $space-normal;
		}
	}
}

.flock-main-content {
	margin-top: $navbar-height + px($space-large);
}