.padding-nil {
  padding: 0;
}
.padding-xxs {
  padding: $space-micro;
}
.padding-xs {
  padding: $space-smaller;
}
.padding-s {
  padding: $space-small;
}
.padding-xxm {
  padding: $space-slab;
}
.padding-xm {
  padding: $space-normal;
}
.padding-m {
  padding: $space-medium;
}
.padding-l {
  padding: 3.2rem;
}
.padding-xl {
  padding: 4.8rem;
}


// vertical padding
.padding-v-nil {
  padding-top: 0;
  padding-bottom: 0;
}
.padding-v-xxs {
  padding-top: $space-micro;
  padding-bottom: $space-micro;
}
.padding-v-xs {
  padding-top: $space-smaller;
  padding-bottom: $space-smaller;
}
.padding-v-s {
  padding-top: $space-small;
  padding-bottom: $space-small;
}
.padding-v-xxm {
  padding-top: $space-slab;
  padding-bottom: $space-slab;
}
.padding-v-xm {
  padding-top: $space-normal;
  padding-bottom: $space-normal;
}
.padding-v-m {
  padding-top: $space-medium;
  padding-bottom: $space-medium;
}
.padding-v-l {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}
.padding-v-xl {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}

// Padding left

.padding-left-nil {
  padding-left: 0;
}
.padding-left-xxs {
  padding-left: $space-micro;
}
.padding-left-xs {
  padding-left: $space-smaller;
}
.padding-left-s {
  padding-left: $space-small;
}
.padding-left-xxm {
  padding-left: $space-slab;
}
.padding-left-xm {
  padding-left: $space-normal;
}
.padding-left-m {
  padding-left: $space-medium;
}
.padding-left-l {
  padding-left: 3.2rem;
}
.padding-left-xl {
  padding-left: 4.8rem;
}

// top padding
.padding-top-nil {
  padding-top: 0;
}
.padding-top-xxs {
  padding-top: $space-micro;
}
.padding-top-xs {
  padding-top: $space-smaller;
}
.padding-top-s {
  padding-top: $space-small;
}
.padding-top-xxm {
  padding-top: $space-slab;
}
.padding-top-xm {
  padding-top: $space-normal;
}
.padding-top-m {
  padding-top: $space-medium;
}
.padding-top-l {
  padding-top: 3.2rem;
}
.padding-top-xl {
  padding-top: 4.8rem;
}

// Padding right

.padding-right-nil {
  padding-right: 0;
}
.padding-right-xxs {
  padding-right: $space-micro;
}
.padding-right-xs {
  padding-right: $space-smaller;
}
.padding-right-s {
  padding-right: $space-small;
}
.padding-right-xxm {
  padding-right: $space-slab;
}
.padding-right-xm {
  padding-right: $space-normal;
}
.padding-right-m {
  padding-right: $space-medium;
}
.padding-right-l {
  padding-right: 3.2rem;
}
.padding-right-xl {
  padding-right: 4.8rem;
}

// bottom padding
.padding-bottom-nil {
  padding-bottom: 0;
}
.padding-bottom-xxs {
  padding-bottom: $space-micro;
}
.padding-bottom-xs {
  padding-bottom: $space-smaller;
}
.padding-bottom-s {
  padding-bottom: $space-small;
}
.padding-bottom-xxm {
  padding-bottom: $space-slab;
}
.padding-bottom-xm {
  padding-bottom: $space-normal;
}
.padding-bottom-m {
  padding-bottom: $space-medium;
}
.padding-bottom-l {
  padding-bottom: 3.2rem;
}
.padding-bottom-xl {
  padding-bottom: 4.8rem;
}
// ******************************
// *******    margins     *******
// ******************************
.margin-nil {
  margin: 0;
}
.margin-xxs {
  margin: $space-micro;
}
.margin-xs {
  margin: $space-smaller;
}
.margin-s {
  margin: $space-small;
}
.margin-xxm {
  margin: $space-slab;
}
.margin-xm {
  margin: $space-normal;
}
.margin-m {
  margin: $space-medium;
}
.margin-l {
  margin: 3.2rem;
}
.margin-xl {
  margin: 4.8rem;
}

// vertical margin
.margin-v-nil {
  margin-top: 0;
  margin-bottom: 0;
}
.margin-v-xxs {
  margin-top: $space-micro;
  margin-bottom: $space-micro;
}
.margin-v-xs {
  margin-top: $space-smaller;
  margin-bottom: $space-smaller;
}
.margin-v-s {
  margin-top: $space-small;
  margin-bottom: $space-small;
}
.margin-v-xxm {
  margin-top: $space-slab;
  margin-bottom: $space-slab;
}
.margin-v-xm {
  margin-top: $space-normal;
  margin-bottom: $space-normal;
}
.margin-v-m {
  margin-top: $space-medium;
  margin-bottom: $space-medium;
}
.margin-v-l {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}
.margin-v-xl {
  margin-top: 4.8rem;
  margin-bottom: 4.8rem;
}

// horizonal margin
.margin-h-nil {
  margin-left: 0;
  margin-right: 0;
}
.margin-h-xxs {
  margin-left: $space-micro;
  margin-right: $space-micro;
}
.margin-h-xs {
  margin-left: $space-smaller;
  margin-right: $space-smaller;
}
.margin-h-s {
  margin-left: $space-small;
  margin-right: $space-small;
}
.margin-h-xxm {
  margin-left: $space-slab;
  margin-right: $space-slab;
}
.margin-h-xm {
  margin-left: $space-normal;
  margin-right: $space-normal;
}
.margin-h-m {
  margin-left: $space-medium;
  margin-right: $space-medium;
}
.margin-h-l {
  margin-left: 3.2rem;
  margin-right: 3.2rem;
}
.margin-h-xl {
  margin-left: 4.8rem;
  margin-right: 4.8rem;
}

// Margin left

.margin-left-nil {
  margin-left: 0;
}
.margin-left-xxs {
  margin-left: $space-micro;
}
.margin-left-xs {
  margin-left: $space-smaller;
}
.margin-left-s {
  margin-left: $space-small;
}
.margin-left-xxm {
  margin-left: $space-slab;
}
.margin-left-xm {
  margin-left: $space-normal;
}
.margin-left-m {
  margin-left: $space-medium;
}
.margin-left-l {
  margin-left: 3.2rem;
}
.margin-left-xl {
  margin-left: 4.8rem;
}

// top margin
.margin-top-nil {
  margin-top: 0;
}
.margin-top-xxs {
  margin-top: $space-micro;
}
.margin-top-xs {
  margin-top: $space-smaller;
}
.margin-top-s {
  margin-top: $space-small;
}
.margin-top-xxm {
  margin-top: $space-slab;
}
.margin-top-xm {
  margin-top: $space-normal;
}
.margin-top-m {
  margin-top: $space-medium;
}
.margin-top-l {
  margin-top: 3.2rem;
}
.margin-top-xl {
  margin-top: 4.8rem;
}

// margin right

.margin-right-nil {
  margin-right: 0;
}
.margin-right-xxs {
  margin-right: $space-micro;
}
.margin-right-xs {
  margin-right: $space-smaller;
}
.margin-right-s {
  margin-right: $space-small;
}
.margin-right-xxm {
  margin-right: $space-slab;
}
.margin-right-xm {
  margin-right: $space-normal;
}
.margin-right-m {
  margin-right: $space-medium;
}
.margin-right-xxm {
  margin-right: $space-slab;
}
.margin-right-l {
  margin-right: 3.2rem;
}
.margin-right-xl {
  margin-right: 4.8rem;
}

// bottom margin
.margin-bottom-nil {
  margin-bottom: 0;
}
.margin-bottom-xxs {
  margin-bottom: $space-micro;
}
.margin-bottom-xs {
  margin-bottom: $space-smaller;
}
.margin-bottom-s {
  margin-bottom: $space-small;
}
.margin-bottom-xxm {
  margin-bottom: $space-slab;
}
.margin-bottom-xm {
  margin-bottom: $space-normal;
}
.margin-bottom-m {
  margin-bottom: $space-medium;
}
.margin-bottom-l {
  margin-bottom: 3.2rem;
}
.margin-bottom-xl {
  margin-bottom: 4.8rem;
}
