.padding-nil {
  padding: 0;
}
.padding-xxs {
  padding: .2rem;
}
.padding-xs {
  padding: .4rem;
}
.padding-s {
  padding: .8rem;
}
.padding-m {
  padding: 1.2rem;
}
.padding-xm {
  padding: 1.6rem;
}
.padding-l {
  padding: 3.2rem;
}
.padding-xl {
  padding: 4.8rem;
}


// vertical padding
.padding-v-nil {
  padding-top: 0;
  padding-bottom: 0;
}
.padding-v-xxs {
  padding-top: .2rem;
  padding-bottom: .2rem;
}
.padding-v-xs {
  padding-top: .4rem;
  padding-bottom: .4rem;
}
.padding-v-s {
  padding-top: .8rem;
  padding-bottom: .8rem;
}
.padding-v-m {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.padding-v-xm {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.padding-v-l {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}
.padding-v-xl {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}

// Padding left

.padding-left-nil {
  padding-left: 0;
}
.padding-left-xxs {
  padding-left: .2rem;
}
.padding-left-xs {
  padding-left: .4rem;
}
.padding-left-s {
  padding-left: .8rem;
}
.padding-left-m {
  padding-left: 1.2rem;
}
.padding-left-xm {
  padding-left: 1.6rem;
}
.padding-left-l {
  padding-left: 3.2rem;
}
.padding-left-xl {
  padding-left: 4.8rem;
}

// top padding
.padding-top-nil {
  padding-top: 0;
}
.padding-top-xxs {
  padding-top: .2rem;
}
.padding-top-xs {
  padding-top: .4rem;
}
.padding-top-s {
  padding-top: .8rem;
}
.padding-top-m {
  padding-top: 1.2rem;
}
.padding-top-xm {
  padding-top: 1.6rem;
}
.padding-top-l {
  padding-top: 3.2rem;
}
.padding-top-xl {
  padding-top: 4.8rem;
}

// Padding right

.padding-right-nil {
  padding-right: 0;
}
.padding-right-xxs {
  padding-right: .2rem;
}
.padding-right-xs {
  padding-right: .4rem;
}
.padding-right-s {
  padding-right: .8rem;
}
.padding-right-m {
  padding-right: 1.2rem;
}
.padding-right-xm {
  padding-right: 1.6rem;
}
.padding-right-l {
  padding-right: 3.2rem;
}
.padding-right-xl {
  padding-right: 4.8rem;
}

// bottom padding
.padding-bottom-nil {
  padding-bottom: 0;
}
.padding-bottom-xxs {
  padding-bottom: .2rem;
}
.padding-bottom-xs {
  padding-bottom: .4rem;
}
.padding-bottom-s {
  padding-bottom: .8rem;
}
.padding-bottom-m {
  padding-bottom: 1.2rem;
}
.padding-bottom-xm {
  padding-bottom: 1.6rem;
}
.padding-bottom-l {
  padding-bottom: 3.2rem;
}
.padding-bottom-xl {
  padding-bottom: 4.8rem;
}
// ******************************
// *******    margins     *******
// ******************************
.margin-nil {
  margin: 0;
}
.margin-xxs {
  margin: .2rem;
}
.margin-xs {
  margin: .4rem;
}
.margin-s {
  margin: .8rem;
}
.margin-m {
  margin: 1.2rem;
}
.margin-xm {
  margin: 1.6rem;
}
.margin-l {
  margin: 3.2rem;
}
.margin-xl {
  margin: 4.8rem;
}

// vertical margin
.margin-v-nil {
  margin-top: 0;
  margin-bottom: 0;
}
.margin-v-xxs {
  margin-top: .2rem;
  margin-bottom: .2rem;
}
.margin-v-xs {
  margin-top: .4rem;
  margin-bottom: .4rem;
}
.margin-v-s {
  margin-top: .8rem;
  margin-bottom: .8rem;
}
.margin-v-m {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.margin-v-xm {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
.margin-v-l {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}
.margin-v-xl {
  margin-top: 4.8rem;
  margin-bottom: 4.8rem;
}

// horizonal margin
.margin-h-nil {
  margin-left: 0;
  margin-right: 0;
}
.margin-h-xxs {
  margin-left: .2rem;
  margin-right: .2rem;
}
.margin-h-xs {
  margin-left: .4rem;
  margin-right: .4rem;
}
.margin-h-s {
  margin-left: .8rem;
  margin-right: .8rem;
}
.margin-h-m {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}
.margin-h-xm {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}
.margin-h-l {
  margin-left: 3.2rem;
  margin-right: 3.2rem;
}
.margin-h-xl {
  margin-left: 4.8rem;
  margin-right: 4.8rem;
}

// Padding left

.margin-left-nil {
  margin-left: 0;
}
.margin-left-xxs {
  margin-left: .2rem;
}
.margin-left-xs {
  margin-left: .4rem;
}
.margin-left-s {
  margin-left: .8rem;
}
.margin-left-m {
  margin-left: 1.2rem;
}
.margin-left-xm {
  margin-left: 1.6rem;
}
.margin-left-l {
  margin-left: 3.2rem;
}
.margin-left-xl {
  margin-left: 4.8rem;
}

// top margin
.margin-top-nil {
  margin-top: 0;
}
.margin-top-xxs {
  margin-top: .2rem;
}
.margin-top-xs {
  margin-top: .4rem;
}
.margin-top-s {
  margin-top: .8rem;
}
.margin-top-m {
  margin-top: 1.2rem;
}
.margin-top-xm {
  margin-top: 1.6rem;
}
.margin-top-l {
  margin-top: 3.2rem;
}
.margin-top-xl {
  margin-top: 4.8rem;
}

// margin right

.margin-right-nil {
  margin-right: 0;
}
.margin-right-xxs {
  margin-right: .2rem;
}
.margin-right-xs {
  margin-right: .4rem;
}
.margin-right-s {
  margin-right: .8rem;
}
.margin-right-m {
  margin-right: 1.2rem;
}
.margin-right-xm {
  margin-right: 1.6rem;
}
.margin-right-l {
  margin-right: 3.2rem;
}
.margin-right-xl {
  margin-right: 4.8rem;
}

// bottom margin
.margin-bottom-nil {
  margin-bottom: 0;
}
.margin-bottom-xxs {
  margin-bottom: .2rem;
}
.margin-bottom-xs {
  margin-bottom: .4rem;
}
.margin-bottom-s {
  margin-bottom: .8rem;
}
.margin-bottom-m {
  margin-bottom: 1.2rem;
}
.margin-bottom-xm {
  margin-bottom: 1.6rem;
}
.margin-bottom-l {
  margin-bottom: 3.2rem;
}
.margin-bottom-xl {
  margin-bottom: 4.8rem;
}
