$space-postfix-list: nil xxs xs s xxm xm m l xl xxl xxxl;
$space-list: $zero $space-micro $space-smaller $space-small $space-slab $space-normal $space-medium $space-large $space-larger $space-jumbo $space-mega;

@for $i from 1 through length($space-postfix-list){

  $current-postfix: nth($space-postfix-list, $i);
  $current-size: nth($space-list, $i);

  // Current variabes for tablets and phone
  $current-size--tablet: $current-size/1.5;
  $current-size--phone: $current-size/2;


  // padding
  .padding-#{$current-postfix} {
    padding: $current-size;

    @include media-tablet {
      padding: $current-size--tablet;
    }
    @include media-phone {
      padding: $current-size--phone;
    }
  }
  // vertical padding
  .padding-v-#{$current-postfix} {
    @include padding($current-size null $current-size null);

    @include media-tablet {
      @include padding($current-size--tablet null $current-size--tablet null);
    }
    @include media-phone {
      @include padding($current-size--phone null $current-size--phone null);
    }
  }
  // horizonal padding
  .padding-h-#{$current-postfix} {
    @include padding(null $current-size null $current-size);

    @include media-tablet {
      @include padding(null $current-size--tablet null $current-size--tablet);
    }
    @include media-phone {
      @include padding(null $current-size--phone null $current-size--phone);
    }
  }
  // Padding left
  .padding-left-#{$current-postfix} {
    padding-left: $current-size;

    @include media-tablet {
      padding-left: $current-size--tablet;
    }
    @include media-phone {
      padding-left: $current-size--phone;
    }
  }
  // Padding top
  .padding-top-#{$current-postfix} {
    padding-top: $current-size;

    @include media-tablet {
      padding-top: $current-size--tablet;
    }
    @include media-phone {
      padding-top: $current-size--phone;
    }
  }
  // Padding right
  .padding-right-#{$current-postfix} {
    padding-right: $current-size;

    @include media-tablet {
      padding-right: $current-size--tablet;
    }
    @include media-phone {
      padding-right: $current-size--phone;
    }
  }
  // Padding bottom
  .padding-bottom-#{$current-postfix} {
    padding-bottom: $current-size;

    @include media-tablet {
      padding-bottom: $current-size--tablet;
    }
    @include media-phone {
      padding-bottom: $current-size--phone;
    }
  }


  // ******************************
  // *******    Margins     *******
  // ******************************
  .margin-#{$current-postfix} {
    margin: $current-size;

    @include media-tablet {
      margin: $current-size--tablet;
    }
    @include media-phone {
      margin: $current-size--phone;
    }
  }
  // vertical margin
  .margin-v-#{$current-postfix} {
    @include margin($current-size null $current-size null);

    @include media-tablet {
      @include margin($current-size--tablet null $current-size--tablet null);
    }
    @include media-phone {
      @include margin($current-size--phone null $current-size--phone null);
    }
  }
  // horizonal margin
  .margin-h-#{$current-postfix} {
    @include margin(null $current-size null $current-size);

    @include media-tablet {
      @include margin(null $current-size--tablet null $current-size--tablet);
    }
    @include media-phone {
      @include margin(null $current-size--phone null $current-size--phone);
    }
  }
  // margin left
  .margin-left-#{$current-postfix} {
    margin-left: $current-size;

    @include media-tablet {
      margin-left: $current-size--tablet;
    }
    @include media-phone {
      margin-left: $current-size--phone;
    }
  }
  // margin top
  .margin-top-#{$current-postfix} {
    margin-top: $current-size;

    @include media-tablet {
      margin-top: $current-size--tablet;
    }
    @include media-phone {
      margin-top: $current-size--phone;
    }
  }
  // margin right
  .margin-right-#{$current-postfix} {
    margin-right: $current-size;

    @include media-tablet {
      margin-right: $current-size--tablet;
    }
    @include media-phone {
      margin-right: $current-size--phone;
    }
  }
  // margin bottom
  .margin-bottom-#{$current-postfix} {
    margin-bottom: $current-size;

    @include media-tablet {
      margin-bottom: $current-size--tablet;
    }
    @include media-phone {
      margin-bottom: $current-size--phone;
    }
  }
}
