.color-box {
  .color-preview {
    height: 72px;
  }

  ul {
    padding: 0;
    list-style: none;
    padding: 1.5rem 0;

    li {
      padding: .5rem 0;
      font-size: $font-size-small;
      span {
        display: block;
      }
      .type-bold {
        @extend .color-silver;
      }
    }
  }

}
.typo-heading-box {
  * {
    margin: $space-normal;
  }
}
.typo-components-box {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  p {
    font-size: $font-size-medium;
    font-weight: $font-weight-normal;
  }
}