.button {
  @extend .btn;
  @include buttonColorMixin($color-flock);
  color: $color-white;

  &:hover,
  &:focus,
  &:active {
    color: $color-white;
  }
  &.button--success {
    @include buttonColorMixin($color-success);
  }

  &.button--warning {
    @include buttonColorMixin($color-warning);
  }

  &.button--danger {
    @include buttonColorMixin($color-danger);
  }
}

.button--outline {
  @extend .btn;
  background: $color-white;
  @include outlineButtonColorMixin($color-silver);

  &.button--success {
    @include outlineButtonColorMixin($color-success);
  }

  &.button--warning {
    @include outlineButtonColorMixin($color-warning);
  }

  &.button--danger {
    @include outlineButtonColorMixin($color-danger);
  }
}

.button--icon {
  @extend .button--outline;
  padding: 1.2rem 1.5rem;
  i{
    padding-right: 1rem;
  }
}
.button--xl {
  padding: $space-large;
  font-size: $font-size-medium;
}

.button--l {
  padding: $space-medium;
  font-size: $font-size-default;
}

.button--s {
  padding: $space-small $space-medium;
  font-size: $font-size-small;
}

.button--xs {
  padding: $space-smaller $space-small;
  font-size: $font-size-micro;
}

.button{
  &.is-disabled {

  }
  &.is-loading {
    position: relative;
    padding-left: 4rem;
    @extend .disabled;
    &:after,
    &:before {
      width: 20px;
      height: 20px;
      display: block;
      content:"";
      border-radius: 50%;
      background-color: $color-white;
      opacity: 0.6;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 1rem;
      margin: auto;

      -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
      animation: sk-bounce 2.0s infinite ease-in-out;
    }

    &:before {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }
  }
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bounce {
    0%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
}
