table {
  @extend .table;
  font-size: $font-size-small;
  > thead > tr > th,
  caption + thead > tr:first-child > th,
  caption + thead > tr:first-child > td,
  colgroup + thead > tr:first-child > th,
  colgroup + thead > tr:first-child > td,
  thead:first-child > tr:first-child > th,
  thead:first-child > tr:first-child > td {
    border-bottom: 1px solid $color-border;
    text-transform: uppercase;
    font-size: $font-size-mini;
    line-height: 2.8;
  }

  > thead > tr > th,
  > thead > tr > td,
  > tbody > tr > th,
  > tbody > tr > td,
  > tfoot > tr > th,
  > tfoot > tr > td {
    border-top: 1px solid $color-border-light;
    line-height: 2;

    &:first-child {
      padding-left: $space-normal;
    }
  }

  &.table--elegent {
    > thead > tr > th,
    caption + thead > tr:first-child > th,
    caption + thead > tr:first-child > td,
    colgroup + thead > tr:first-child > th,
    colgroup + thead > tr:first-child > td,
    thead:first-child > tr:first-child > th,
    thead:first-child > tr:first-child > td {
      border-top: 1px solid $color-border;
      background: $color-fill;
    }
  }

  &.table--border {
    border: 1px solid $color-border;
  }

  &.table--stripe {
    > tbody > tr:nth-of-type(even) {
      background-color: $color-fill-light;
    }
  }
}